h1 {
    text-align: center;
    text-decoration:underline;
    background-color:rgb(213, 233, 243);
}

.größer {
font-size: 20px;
padding-left: 55px;
padding-right: 55px;
}

h2 {
    text-align: center;
}

.bilder {
    display: flex;
    justify-content: space-around;
}
#Gif {
    margin: auto;
    text-align: center;
    display: flex;
}